
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1 class="mt-4">Dashboard</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
</ol>
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Toplam Çorba Sayısı</div>
            <span class="card-body display-6"><strong>@ViewBag.soupCount</strong></span>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div><div class="card bg-warning text-white mb-4">
            <div class="card-body">En Pahalı Ürün</div>
            <span class="card-body display-6"><strong>@ViewBag.mostExpensive</strong></span>
            <div class="card-footer d-flex align-items-center justify-content-between">
                
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div></div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Ortalama Ürün Fiyatı</div>
            <span class="card-body display-6"><strong>@ViewBag.avgPrice.ToString("00") TL</strong></span>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">En Ucuz Ürün</div>
            <span class="card-body display-6"><strong>@ViewBag.cheapestPrice</strong></span>          
            <div class="card-footer d-flex align-items-center justify-content-between">
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div>

@Html.Action("LastProduct","Dashboard")

