@model List<YummyProject.Models.Booking>
@{
    ViewBag.Title = "DeclineBookingList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<br />
<h2>Red edilen Rezervasyonlar</h2>

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>Email Adresi</th>
        <th>Telefon Numarası</th>
        <th>Rezervasyon Terihi</th>
        <th>Kişi Sayısı</th>
        <th>Açıklama Mesajı</th>
        <th>Durum</th>
        <th>İşlem</th>


    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <th>@item.BookingId</th>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.PhoneNumber</td>
            <td>@item.BookingDate</td>
            <td>@item.PersonCount</td>
            <td>@item.MessageContent</td>
            <td>
                @if (item.IsApproved== false)
                {
                    <span class="badge badge-success" style="background-color: red; color: white;">Reddedildi</span>
                }
            </td>
            <td><a href="/Booking/ConfirmBooking/@item.BookingId" class="btn btn-info">Onayla</a></td>
        </tr>
    }

</table>
<br />
<a href="/Booking/Index/" class="btn btn-success">Rezervasyon Alanına Geri Dön</a>